{{/* vim: set filetype=gitconfig: */}}

;    ▄████████  ▄█        ▄█     ▄████████    ▄████████
;   ███    ███ ███       ███    ███    ███   ███    ███
;   ███    ███ ███       ███▌   ███    ███   ███    █▀
;   ███    ███ ███       ███▌   ███    ███   ███
; ▀███████████ ███       ███▌ ▀███████████ ▀███████████
;   ███    ███ ███       ███    ███    ███          ███
;   ███    ███ ███▌    ▄ ███    ███    ███    ▄█    ███
;   ███    █▀  █████▄▄██ █▀     ███    █▀   ▄████████▀
;              ▀
[alias]
  ; .▄▄ ·  ▄ .▄      ▄▄▄  ▄▄▄▄▄ ▄▄· ▄• ▄▌▄▄▄▄▄
  ; ▐█ ▀. ██▪▐█▪     ▀▄ █·•██  ▐█ ▌▪█▪██▌•██
  ; ▄▀▀▀█▄██▀▐█ ▄█▀▄ ▐▀▀▄  ▐█.▪██ ▄▄█▌▐█▌ ▐█.▪
  ; ▐█▄▪▐███▌▐▀▐█▌.▐▌▐█•█▌ ▐█▌·▐███▌▐█▄█▌ ▐█▌·
  ;  ▀▀▀▀ ▀▀▀ · ▀█▄▀▪.▀  ▀ ▀▀▀ ·▀▀▀  ▀▀▀  ▀▀▀
  st = status -bs
  co = checkout
  sw = switch
  br = branch
  ci = commit
  d = diff
  p = push
  a = add
  ;  ▄ .▄ ▄▄▄·  ▐ ▄ ·▄▄▄▄  ▄▄▌  ▪   ▐ ▄  ▄▄ •
  ; ██▪▐█▐█ ▀█ •█▌▐███▪ ██ ██•  ██ •█▌▐█▐█ ▀ ▪
  ; ██▀▐█▄█▀▀█ ▐█▐▐▌▐█· ▐█▌██▪  ▐█·▐█▐▐▌▄█ ▀█▄
  ; ██▌▐▀▐█ ▪▐▌██▐█▌██. ██ ▐█▌▐▌▐█▌██▐█▌▐█▄▪▐█
  ; ▀▀▀ · ▀  ▀ ▀▀ █▪▀▀▀▀▀• .▀▀▀ ▀▀▀▀▀ █▪·▀▀▀▀
  unstage = reset HEAD --
  pa = push --all
  maj = pull --ff-only
  fa = fetch -pPft
  ua = !git fa && git maj
  speed-amend=commit --no-edit --amend --no-verify
  ;  ▄ .▄▪  .▄▄ · ▄▄▄▄▄      ▄▄▄   ▄· ▄▌
  ; ██▪▐███ ▐█ ▀. •██  ▪     ▀▄ █·▐█▪██▌
  ; ██▀▐█▐█·▄▀▀▀█▄ ▐█.▪ ▄█▀▄ ▐▀▀▄ ▐█▌▐█▪
  ; ██▌▐▀▐█▌▐█▄▪▐█ ▐█▌·▐█▌.▐▌▐█•█▌ ▐█▀·.
  ; ▀▀▀ ·▀▀▀ ▀▀▀▀  ▀▀▀  ▀█▄▀▪.▀  ▀  ▀ •
  last = log -1 HEAD
  lop = log --graph --all --oneline --decorate
  lol = "log --pretty=format:'%C(#FBF1C7)%h %C(#BDAE93)%ad %C(#D65D0E)→%C(auto)% D %Creset%s' --date=human --graph --all"
  pn = !git log --pretty='format: - %s' --no-merges $(git describe --abbrev=0 --tags)..HEAD
  ; ·▄▄▄▄  ▪  ·▄▄▄·▄▄▄
  ; ██▪ ██ ██ ▐▄▄·▐▄▄·
  ; ▐█· ▐█▌▐█·██▪ ██▪
  ; ██. ██ ▐█▌██▌.██▌.
  ; ▀▀▀▀▀• ▀▀▀▀▀▀ ▀▀▀
  dc = diff --cached
  dl = diff --name-only


; ███    █▄     ▄████████    ▄████████    ▄████████
; ███    ███   ███    ███   ███    ███   ███    ███
; ███    ███   ███    █▀    ███    █▀    ███    ███
; ███    ███   ███         ▄███▄▄▄      ▄███▄▄▄▄██▀
; ███    ███ ▀███████████ ▀▀███▀▀▀     ▀▀███▀▀▀▀▀
; ███    ███          ███   ███    █▄  ▀███████████
; ███    ███    ▄█    ███   ███    ███   ███    ███
; ████████▀   ▄████████▀    ██████████   ███    ███
;                                       ███    ███
[user]
  name = {{ .git.name }}
  email = {{ .email }}
  {{ if .git.signinkey }}
  signinkey = {{ .git.signinkey }}
  {{ end }}


;  ▄████████  ▄██████▄     ▄████████    ▄████████
; ███    ███ ███    ███   ███    ███   ███    ███
; ███    █▀  ███    ███   ███    ███   ███    █▀
; ███        ███    ███  ▄███▄▄▄▄██▀  ▄███▄▄▄
; ███        ███    ███ ▀▀███▀▀▀▀▀   ▀▀███▀▀▀
; ███    █▄  ███    ███ ▀███████████   ███    █▄
; ███    ███ ███    ███   ███    ███   ███    ███
; ████████▀   ▀██████▀    ███    ███   ██████████
;                         ███    ███
[core]
  editor = nvim
  excludesfile = {{ .chezmoi.homeDir }}/.config/git/gitignore

[init]
  defaultBranch = main

[commit]
  template = {{ .chezmoi.homeDir }}/.config/git/commit-template
  gpgsign = {{ .git.gpgsign }}
